.form-item{
	margin-bottom: 20px;
}
.btnsingup{
	line-height: 30px;
}
.form-background{
	background: #ffffff; height: 450px;
}
.sign-up{
	margin-bottom: 100px;
}
body{
	background: #EEE;
}
h3{
	padding-top: 20px;
	margin-bottom: 20px;
}